@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.animate-cube1 {
  animation: cube1 12s infinite;
  animation-delay: 0s;
}

@keyframes cube1 {
  0% {
    transform: translateY(0);
  }
  8.33% {
    transform: translate(-60px, 34px);
    z-index: 30;
  }
  16.7% {
    transform: translate(-60px, 34px);
    z-index: 30;
  }
  25% {
    transform: translate(-60px, 113px);
    z-index: 20;
  }
  33.33% {
    transform: translate(-60px, 113px);
    z-index: 20;
  }
  41.66% {
    transform: translate(0px, 150px);
    z-index: 30;
  }
  50% {
    transform: translate(0px, 150px);
    z-index: 30;
  }
  58.33% {
    transform: translate(60px, 113px);
    z-index: 20;
  }
  66.7% {
    transform: translate(60px, 113px);
    z-index: 20;
  }
  75% {
    transform: translate(60px, 34px);
    z-index: 30;
  }
  83.33% {
    transform: translate(60px, 34px);
    z-index: 30;
  }
  91.7% {
    transform: translate(0px, 0px);
    z-index: 30;
  }
}
.animate-cube2 {
  animation: cube2 12s infinite;
  animation-delay: 1s;
}

@keyframes cube2 {
  0% {
    transform: translateY(0);
  }
  8.33% {
    transform: translate(63px, 36px);
    z-index: 30;
  }
  16.7% {
    transform: translate(63px, 36px);
    z-index: 30;
  }
  25% {
    transform: translate(126px, 0px);
    z-index: 20;
  }
  33.33% {
    transform: translate(126px, 0px);
    z-index: 20;
  }
  41.66% {
    transform: translate(122px, -80px);
    z-index: 30;
  }
  50% {
    transform: translate(122px, -80px);
    z-index: 30;
  }
  58.33% {
    transform: translate(63px, -113px);
    z-index: 20;
  }
  66.7% {
    transform: translate(63px, -113px);
    z-index: 20;
  }
  75% {
    transform: translate(0px, -80px);
    z-index: 30;
  }
  83.33% {
    transform: translate(0px, -80px);
    z-index: 30;
  }
  91.7% {
    transform: translate(0px, 0px);
    z-index: 30;
  }
}
.animate-cube3 {
  animation: cube3 12s infinite;
  animation-delay: 2s;
}

@keyframes cube3 {
  0% {
    transform: translateY(0);
  }
  8.33% {
    transform: translate(0px, -80px);
    z-index: 30;
  }
  16.7% {
    transform: translate(0px, -80px);
    z-index: 30;
  }
  25% {
    transform: translate(-63px, -113px);
    z-index: 20;
  }
  33.33% {
    transform: translate(-63px, -113px);
    z-index: 20;
  }
  41.66% {
    transform: translate(-122px, -80px);
    z-index: 30;
  }
  50% {
    transform: translate(-122px, -80px);
    z-index: 30;
  }
  58.33% {
    transform: translate(-126px, 0px);
    z-index: 20;
  }
  66.7% {
    transform: translate(-126px, 0px);
    z-index: 20;
  }
  75% {
    transform: translate(-63px, 36px);
    z-index: 30;
  }
  83.33% {
    transform: translate(-63px, 36px);
    z-index: 30;
  }
  91.7% {
    transform: translate(0px, 0px);
    z-index: 30;
  }
}
